<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: rgb(247, 134, 134);
        }
        form{
            text-align: center;
        }
    </style>
    <title>signup</title>
</head>
<body>
    <form>
    Email<br>
    <input type="email"> <br>
    Password<br>  
    <input type="password"><br>
    Confirm Password<br>
    <input type="password"><br><br>
    <button type="submit">SignUp</button><br><br>

    <p id="demo">already have an account? <button onclick="login()">Login</button></p>
    <script>
        function login() {
          document.getElementById("demo").innerHTML = "Hello World";
        }
        </script>
    </form>
</body>
</html>